body {
  background-image: linear-gradient(gold, cornsilk);
}

div.sticky {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 20px;
  background-color: gold;
  font-size: 50px;
}

p {
  text-align: center;
}

table {
  margin: 0 auto;
}

.buttons {
margin: 0 auto;
display: flex;
width: 500px;
}

.button {
background-color: #303030;
color: yellow;
height: 30px;
width: 100px;
border-radius: 5px;
margin: 0 auto;
margin-bottom: 25px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.button:hover {
background-color: SlateGrey;
color: #303030;
transition: background-color 0.5s, color 0.5s;
}
.cell {
  height: 100px;
  width: 100px;
  background-color: orange;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.number {
  color: rgb(14, 13, 13);
  font-size: 50px;
}

.score {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h1.msg{
  text-align: center;

}